@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");


.box h1 {
  color: var(--contrast-color);
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
  letter-spacing: 10px;
}
.box {
  background-color: var(--main-color-lighter);
  padding: 4rem;
  border-radius: 1.5rem;
}
