* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background-color: var(--main-color);
  height: 100%;
}
.main-content {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --main-color: #c0392b;
  --main-color-lighter: #e74c3c;
  --contrast-color: #ecf0f1;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }
}
